<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Viagem</title>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/calendario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
    {% include "components/header-nav.html" %}
    <main>
        {% include "components/calendario.html" %}
    </main>
    <script src="./static/calendario.js"></script>
</body>

</html>