<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Viagem</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/calendario.css">
    <link rel="stylesheet" href="../static/formulario.css">
    <link rel="stylesheet" href="./static/listas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
    {% include "components/header-nav.html" %}
    <main>
        <form id="form">
            <label>
                <span>Data:</span>
                <input type="date" name="date" placeholder="Digite a data">
            </label>
            <button>Pesquisar</button>
        </form>
        <div id="dados"></div>
    </main>
    <script src="./static/procurar-viagens.js"></script>
</body>

</html>