<header>
    <h1 class="title">Menu</h1>
    <nav class="content">
        <span>Cadastro</span>
        <div class="menuSection">
            <ul class="menuSection">
                <li><a href="cadastrar-paciente">Cadastrar paciente</a></li>
                <li><a href="cadastrar-viagem">Cadastrar viagem</a></li>
            </ul>
            <span>Listas</span>
        </div>
        <div class="menuSection">
            <ul>
                <li><a href="lista-pacientes">Lista de pacientes</a></li>
                <li><a href="lista-viagens">Lista de viagens</a></li>
            </ul>
        </div>
        <a href="calendario">Calendário</a>
    </nav>
</header>